body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}


.top-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
}


.tabs {
  display: flex;
  gap: 1.5rem;
}

.tabs a {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: 2px solid black;
  background-color: #bfbfbf;
  text-decoration: none;
  color: black;
}

.tabs a:hover {
  background-color: #9e9e9e;
}


.tabs a.active {
  background-color: #8e8e8e;
}


input[type="search"] {
  margin-left: auto;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  border: 1.5px solid black;
}


main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.section-title {
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  max-width: 800px;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

